.container_6_768{width:100%;}

.col_6_768,
.col_5_768,
.col_4_768,
.col_3_768,
.col_2_768,
.col_1_768{float:left; margin:0 0.5%;}

.col_6_768{width:99%;}
.col_5_768{width:82.333333333333%;}
.col_4_768{width:65.666666666667%;}
.col_3_768{width:49%;}
.col_2_768{width:32.333333333333%;}
.col_1_768{width:15.666666666667%;}