body{max-width:964px}

.container_8_d{width:100%;}

.g_1_d {float:left;margin:0 0.4527%;width:11.707775%;background:#FFFFCC;}
.g_1_d .g_1_d {float:left;margin:0 3.866661257156%;width:100%;}

.g_2_d {float:left;margin:0 0.4527%;width:24.32095%;background:#FFCCCC;}
.g_2_d .g_1_d {float:left;margin:0 1.8613582117475%;width:48.138641788253%;}
.g_2_d .g_2_d {float:left;margin:0 1.8613582117475%;width:100%;}

.g_3_d {float:left;margin:0 0.4527%;width:36.934125%;background:#FFCC99;}
.g_3_d .g_1_d {float:left;margin:0 1.2256957488501%;width:31.699072334866%;}
.g_3_d .g_2_d {float:left;margin:0 1.2256957488501%;width:65.849536167433%;}
.g_3_d .g_3_d {float:left;margin:0 1.2256957488501%;width:100%;}

.g_4_d {float:left;margin:0 0.4527%;width:49.5473%;background:#FFFF99;}
.g_4_d .g_1_d {float:left;margin:0 0.91367238981741%;width:23.629491415274%;}
.g_4_d .g_2_d {float:left;margin:0 0.91367238981741%;width:49.086327610183%;}
.g_4_d .g_3_d {float:left;margin:0 0.91367238981741%;width:74.543163805091%;}
.g_4_d .g_4_d {float:left;margin:0 0.91367238981741%;width:100%;}

.g_5_d {float:left;margin:0 0.4527%;width:62.160475%;background:#CCFF99;}
.g_5_d .g_1_d {float:left;margin:0 0.72827628810752%;width:18.834757939028%;}
.g_5_d .g_2_d {float:left;margin:0 0.72827628810752%;width:39.126068454271%;}
.g_5_d .g_3_d {float:left;margin:0 0.72827628810752%;width:59.417378969514%;}
.g_5_d .g_4_d {float:left;margin:0 0.72827628810752%;width:79.708689484757%;}
.g_5_d .g_5_d {float:left;margin:0 0.72827628810752%;width:100%;}

.g_6_d {float:left;margin:0 0.4527%;width:74.77365%;background:#CCFFCC;}
.g_6_d .g_1_d {float:left;margin:0 0.60542717922691%;width:15.657621367955%;}
.g_6_d .g_2_d {float:left;margin:0 0.60542717922691%;width:32.526097094364%;}
.g_6_d .g_3_d {float:left;margin:0 0.60542717922691%;width:49.394572820773%;}
.g_6_d .g_4_d {float:left;margin:0 0.60542717922691%;width:66.263048547182%;}
.g_6_d .g_5_d {float:left;margin:0 0.60542717922691%;width:83.131524273591%;}
.g_6_d .g_6_d {float:left;margin:0 0.60542717922691%;width:100%;}

.g_7_d {float:left;margin:0 0.4527%;width:87.386825%;background:#CCFFFF;}
.g_7_d .g_1_d {float:left;margin:0 0.51804147822054%;width:13.397643180193%;}
.g_7_d .g_2_d {float:left;margin:0 0.51804147822054%;width:27.831369316828%;}
.g_7_d .g_3_d {float:left;margin:0 0.51804147822054%;width:42.265095453462%;}
.g_7_d .g_4_d {float:left;margin:0 0.51804147822054%;width:56.698821590097%;}
.g_7_d .g_5_d {float:left;margin:0 0.51804147822054%;width:71.132547726731%;}
.g_7_d .g_6_d {float:left;margin:0 0.51804147822054%;width:85.566273863366%;}
.g_7_d .g_7_d {float:left;margin:0 0.51804147822054%;width:100%;}

.g_8_d {float:left;margin:0 0.4527%;width:100%;background:#CCCCCC;}
.g_8_d .g_1_d {float:left;margin:0 0.4527%;width:11.707775%;}
.g_8_d .g_2_d {float:left;margin:0 0.4527%;width:24.32095%;}
.g_8_d .g_3_d {float:left;margin:0 0.4527%;width:36.934125%;}
.g_8_d .g_4_d {float:left;margin:0 0.4527%;width:49.5473%;}
.g_8_d .g_5_d {float:left;margin:0 0.4527%;width:62.160475%;}
.g_8_d .g_6_d {float:left;margin:0 0.4527%;width:74.77365%;}
.g_8_d .g_7_d {float:left;margin:0 0.4527%;width:87.386825%;}
.g_8_d .g_8_d {float:left;margin:0 0.4527%;width:100%;}